
body {
  margin:0 200px;
  font-family: 'Roboto', sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 8px;
}
th img {
  padding-top:-50px;
  padding-left:4px;
  cursor: pointer;
}
th {
  background-color: #fff;
 }
tr:nth-child(odd){
  background-color: #dddddd;
}
